.contenedor{
	width: 75%;
	float: left;
	height: 2rem;
	background-color: #957bbe;
}

.sidebar{
	width: 20%;
	float: right;
	height: 2rem;
	background-color: #80bdff;
}

#cont1{
	width: 10%;
	height: 50%;
	float: left;
	height: 2rem;
	background-color: #80bdff;
	text-align: center;
}

#cont2{
	width: 75%;
	float: right;
	height: 2rem;
	background-color: #80bdff;
}